{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% bootstrap_css %}
  {% comment %} <link rel="stylesheet" href="{% static 'articles/css/bootstrap.css' %}"> {% endcomment %}
  <title>{% block title %}{% endblock title %}</title>
  {% block css %}{% endblock css %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Django 3.1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-flex flex-row">
          <a class="nav-link text-white font-weight-bold" href="{% url 'articles:index' %}">Articles</a>
          <a class="nav-link text-white font-weight-bold" href="{% url 'pages:index' %}">Pages</a>
          {% if request.user.is_authenticated %}
            <a class="nav-link text-white font-weight-bold">Hello! {{ user.username }}</a>
            <a class="nav-link text-white font-weight-bold" href="{% url 'accounts:update' %}">| Update</a>
            <a class="nav-link text-white font-weight-bold" href="{% url 'accounts:change_password' %}">| Change Password</a>
            <a class="nav-link text-white font-weight-bold" href="{% url 'accounts:logout' %}">| Logout</a>
            <form action="{% url 'accounts:delete' %}" method="POST">
              {% csrf_token %}
              <button class="nav-link bg-dark text-white font-weight-bold border-0">| Quit</button>
              {% comment %} <input type="submit" class="nav-link text-white font-weight-bold bg-dark" value="Quit"> {% endcomment %}
            </form>
          {% else %}
            <a class="nav-link text-white font-weight-bold" href="{% url 'accounts:signup' %}">| Signup</a>
            <a class="nav-link text-white font-weight-bold" href="{% url 'accounts:login' %}">| Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mb-5">
    {% block content %}
    {% endblock content %}
  </div>
  {% bootstrap_javascript jquery='full' %}
  {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'articles/js/bootstrap.js' %}"> {% endcomment %}
</body>
</html>