{% extends 'board/base.html' %}
{% block title %} INDEX {% endblock %}
{% block body %}
<h1>INDEX</h1>
<div>
	{% for article in articles %}
	<p><b>글 작성자: {{ article.user }}</b></p>
	<p>글 번호: {{ article.id }}</p>
	<p>글 제목: {{ article.title }}</p>
	<a href="{% url 'board:detail' article.id %}">[글 상세보기]</a>

	{% include 'board/_board.html' %}

	<hr>
	{% endfor %}

	{% if user.is_authenticated %}
	<a href="{% url 'board:create' %}"><input type="button" value="글작성"></a>
	{% else %}
	<a href="{% url 'accounts:login' %}">로그인이 필요합니다</a>
	{% endif %}
</div>
<script>
	const likeBtn = document.querySelectorAll('.like-button')
	likeBtn.forEach(button => {
		button.addEventListener('click', function(e) {
			console.log(e.target.dataset)
			const articleId = e.target.dataset.id
			axios.get(`/board/${articleId}/like/`)
				.then(response => {
					document.querySelector(`#like-count-${articleId}`).innerText = `${response.data.count} 명이 이 글을 좋아합니다.`
					if (response.data.liked) {
						e.target.classList.remove('far')
						e.target.classList.add('fas')
					} else {
						e.target.classList.remove('fas')
						e.target.classList.add('far')
					}
				})
				.catch(err => {
					console.log(err)
				})
		})
	})
</script>
{% endblock %}