{% extends 'base.html' %}
{% block title %}CREATE{% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">CREATE</h1>
        <p class="lead">Create a New Article</p>
    </div>
</div>
<!-- <h1 align=center>CREATE</h1> -->
<div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="file" name="image" accept="image/*">
        <div>
            <input type="submit" value="등록" class="btn btn-dark">
        </div>
    </form>
    <a href="{% url 'articles:index' %}"><button class="btn btn-dark">목록으로</button></a>
</div>
{% endblock %}