<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    .completed {
      text-decoration: line-through;
      opacity: .6;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input @keydown.enter="addTodo" v-model="content" type="text">
    <button @click="addTodo">+</button>
    <select v-model="status">
      <option value="all">전체</option>
      <option value="inProgress">진행중</option>
      <option value="completed">완료</option>
    </select>
    <ul>
      <li v-for="todo in todoListByStatus" :key="todo.date">
        <input :checked="todo.completed" @change="done(todo)" type="checkbox">
        <!-- <input v-model="todo.completed" type="checkbox"> -->
        <span :class="{ completed: todo.completed }">{{ todo.content }}</span>
      </li>
    </ul>
    <button @click="clearCompleted">Clear Completed</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    // Use Local Storage
    const STORAGE_KEY = 'vue-todo-app'
    const todoStorage = {
      fetch: function () {
        return JSON.parse(localStorage.getItem(STORAGE_KEY)) || []
      },
      save: function (todos) {
        localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
      },
    }

    const app = new Vue({
      el: '#app',
      data: {
        content: '',
        todos: todoStorage.fetch(),
        status: 'all'
      },
      methods: {
        addTodo: function() {
          const todo = {
            content: this.content,
            completed: false,
            date: new Date().getTime(),
          }
          this.todos.push(todo)
          this.content = ''
        },
        done: function(todo) {
          todo.completed = !todo.completed
        },
        clearCompleted: function(todo) {
          this.todos = this.todos.filter(todo => !todo.completed)
        }
      },
      computed: {
        todoListByStatus: function() {
          return this.todos.filter((todo) => {
            if (this.status === 'inProgress') {
              return !todo.completed
            }
            if (this.status === 'completed') {
              return todo.completed
            }
            return true
          })
        }
      },
      // Use Local Storage
      watch: {
        todos: {
          handler: function (todos) {
            todoStorage.save(todos)
          },
          deep: true,
        }
      }
    })
  </script>
</body>
</html>