{% extends 'articles/base.html' %}
{% block body %}
<h1>No.{{ article.id }} - {{ article.title }}</h1>
<hr>
<p>내용: {{ article.content }}</p>
{% if article.image %}
이미지: <img src="{{ article.image.url }}" alt="{{ article.image }}"> 
{% endif %}
<p>작성: {{ article.created_at }}</p>
<p>수정: {{ article.updated_at }}</p>
<hr>
<form action="{% url 'articles:comment_create' article.id %}" method="POST">
  {% csrf_token %}
  댓글 입력: <input type="text" name="content">
  <button class="btn btn-info btn-sm">입력</button>
</form>
<hr>
<p><b>댓글 목록 / 현재 댓글 개수: {{ comments | length }}</b></p>
{% for comment in comments %}
  <li>{{ comment.content }} / <form action="{% url 'articles:comment_delete' article.id comment.id %}" style="display: inline" method="POST">
    {% csrf_token %}<button class="btn btn-warning btn-sm">삭제</button>
  </form></li>
{% empty %}
  <p><b>첫 댓글을 남겨주세요!!</b></p>
{% endfor %}
<hr>
<a class="btn btn-info" href="{% url 'articles:index' %}">목록</a>
<a class="btn btn-warning" href="{% url 'articles:update' article.id %}">수정</a>
<!-- <a href="{/articles/{{ article.id }}/delete/}">삭제</a> -->
<form action="{% url 'articles:delete' article.id %}" method="POST" style="display: inline;">
  {% csrf_token %}
  <button class="btn btn-danger">삭제</button>
</form>
{% endblock %}