{% extends 'articles/base.html' %}
{% load static %}
{% block body %}
<h1 style="display: inline">Juan's Board | </h1>
<a href="{% url 'articles:create' %}" class="btn btn-success">새 글</a>
<img style="display: block" src="{% static 'animalcrossing.png' %}" alt="">
<hr>
{% for article in articles %}
<ul>
  <!-- <li>No.{{ article.id }} - <a href="/articles/{{ article.id }}/">{{ article.title }}</a> | <a href="/articles/{{ article.id }}/delete/"><button>삭제</button></a></li> -->
  <li>No.{{ article.id }} - <a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a> | 
    <form action="{% url 'articles:delete' article.id %}" method = "POST" style="display: inline">
      {% csrf_token %}
      <button class="btn btn-danger btn-sm">삭제</button>
    </form>
  </li>
</ul>
{% endfor %}
{% endblock %}