<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FakeSearch</title>
</head>
<body>
    <a href="/pastlife">당신의 전생은!?</a>
    <a href="/goonghap">당신과 그사람의 궁합!?</a>
    <a href="/opgg">LOL 전적</a>
    
    <h1>Google</h1>
    <form action="https://www.google.com/search">
        <input name='q' type="text">
        <button>검색</button>
    </form>
    <h1>Naver</h1>
    <form action="https://search.naver.com/search.naver">
        <input name='query' type="text">
        <button>검색</button>
    </form>
    <h1>Daum</h1>
    <form action="https://search.daum.net/search">
        <input name='q' type="text">
        <button>검색</button>
    </form>
</body>
</html>