{% extends 'board/base.html' %}
{% load static %}
{% block title %}MAIN{% endblock %}
{% block body %}
<h1 class="text-center"> Board Index </h1>
<div class="container">
    <img src="{% static 'back2.png' %}" width="300px" alt="happyhacking">
    <hr>
    <div class="container">
    <a href="{% url 'board:new' %}"><button class='btn btn-primary'>새 글</button></a><br>
    </div>
    <div class="container">
    <ul>
        {% for article in articles %}
            <li>
                No.{{ article.id }}.<a href="{% url 'board:show' article.id %}">{{article.title}}</a> | 작성자: {{ article.user }}
                {% include 'board/_article.html' %}
            </li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}