{% extends 'articles/base.html' %}
{% block body %}
<h1 class="text-center">{{ person.username }}'s Profile</h1>
<hr>
<h3 class="text-center">{{ person.username }}이 작성한 글</h3>

<div class="row">
  {% for article in person.article_set.all %}
  <div class="col-4 my-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">No.{{ article.id }}: {{ article.title }}</h4>
        <p class="card-text">{{ article.like_users.count }}명이 좋아하는 글</p>
        <p class="card-text">{{ article.comment_set.count }}개의 댓글</p>
        <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">게시글 보기</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<hr>

<h3 class="text-center">{{ person.username }}이 작성한 댓글</h3>
<div class="row">
  {% for comment in person.comment_set.all %}
  <div class="col-12 my-2">
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote">
          <h3>No.{{ comment.article.id }}: {{ comment.article.title }}</h3>
          <p class="mb-0">{{ comment.content }}</p>
          <footer class="blockquote-footer">{{ comment.created_at|date:"SHORT_DATE_FORMAT" }}</footer>
        </blockquote>
      </div>
    </div>
  </div>
  {% endfor %}
  <a href="{% url 'articles:index' %}"><button class='btn btn-dark'>목록</button></a>
</div>
{% endblock %}