{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  <h1 class="text-center">Detail Page</h1>
  <hr>
  <h2>No.{{ article.pk }} - {{ article.title }}</h2>
  <p>글 내용: {{ article.content|linebreaksbr }}</p>
  <p>작성시간: {{ article.created_at|naturalday }}</p>
  <p>수정시간: {{ article.updated_at|naturaltime }}</p>
  <hr>
  <div class="d-flex justify-content-end">
    {% comment %} <a href="{% url 'articles:delete' article.pk %}">[DELETE]</a> {% endcomment %}
    <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-warning mx-1">EDIT</a>
    <form action="{% url 'articles:delete' article.pk %}" method="POST" class="d-inline-block mx-1">
      {% csrf_token %}
      <button class="btn btn-outline-danger">DELETE</button>
    </form>
    <a href="{% url 'articles:index' %}" class="btn btn-outline-info mx-1">MAIN</a>
  </div>
{% endblock content %}