{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center">Article Edit</h1>
  <hr>
  <form action="" method="POST" enctype="multipart/form-data" class="d-inline-block">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <label for="title">TITLE: </label>
    <input type="text" id="title" name="title" value="{{ article.title }}"><br>
    <label for="content">CONTENT: </label>
    <textarea name="content" id="content" cols="30" rows="10">{{ article.content }}</textarea><br> {% endcomment %}
    <input type="submit" value="수정" class="btn btn-warning">
  </form>
  <a href="{% url 'articles:detail' article.pk %}" class="btn btn-outline-info">BACK</a>
{% endblock content %}