<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>0525 workshop</title>
  <style>
    img {
      display: block;
      width: 300px;
      height: 300px;
    }
  </style>
</head>

<body>
  <h1>Cats Image</h1>
  <div id="cats">
    <button @click="getCatImage">야옹</button><br>
    <img :src="catImage" v-if="catImage" alt="cat_img">
  </div>
  <h1>Dogs Image</h1>
  <div id="dogs">
    <button @click="getDogImage">멍멍</button>
    <img :src="dogImage" v-if="dogImage" alt="dog_img">
  </div>
  <h1>Random Image</h1>
  <div id="random">
    <img :src="picsumImg" alt="">
    <button @click="getLoremPicsum">랜덤 사진 교체</button>
  </div>
  <script>
    const cats = new Vue({
      el: '#cats',
      data: {
        catImage: '',
      },
      methods: {
        getCatImage: function(){
          axios.get('https://api.thecatapi.com/v1/images/search')
            .then(response => {
              this.catImage = response.data[0].url
            })
            .catch(error => console.log(error))
        },
      }
    })
    const dogs = new Vue({
      el: '#dogs',
      data: {
        dogImage: '',
      },
      methods: {
        getDogImage: function(){
          axios.get('https://dog.ceo/api/breeds/image/random')
            .then(response => {
              this.dogImage = response.data.message
            })
            .catch(error => console.log(error))
        }
      }
    })
    const app3 = new Vue({
      el: '#random',
      data:{
        number: 0,
        picsumImg: '',
      },
      methods: {
        getLoremPicsum() {
          this.picsumImg = `https://picsum.photos/300?random=${this.number}`
          this.number = this.number+1
        },
      }
    })
  </script>
</body>
</html>
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cats and Dogs2</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
  <div id="app">
    <button v-on:click="getDogImage">멍멍</button>
    <button v-on:click="getCatImage">야옹</button>
    <br>
    <img v-bind:src="dog_image" alt="" width="300px">
    <img v-bind:src="cat_image" alt="" width="300px">
    <br>
    <input type="text" @keyup.enter="getImage" v-model="message">
  </div>
  
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        dog_image: '',
        cat_image: '',
        message: '',
      },
      methods: {
        getDogImage: function(){
        const URL = 'https://dog.ceo/api/breeds/image/random'
        axios.get(URL)
          .then(response => {
            this.dog_image = response.data.message
          })
        },
        getCatImage: function(){
          const URL = 'https://api.thecatapi.com/v1/images/search'
          axios.get(URL)
            .then(response => {
              this.cat_image = response.data[0].url
            })
        },
        getImage: function(){
          const catUrl = 'https://api.thecatapi.com/v1/images/search'
          const dogUrl = 'https://dog.ceo/api/breeds/image/random'
          if (this.message === '고양이') {
            axios.get(catUrl)
            .then(response => {
              this.cat_image = response.data[0].url
            })
          } else if (this.message === '강아지') {
            axios.get(dogUrl)
            .then(response => {
              this.dog_image = response.data.message
            })
          }
        }
      }
    })
  </script>
</body>
</html> -->