<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app3">
    <p v-if="seen">이제 나를 볼 수 있어요</p>
  </div>
  <div id="app4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text}}
      </li>
    </ol>
  </div>
  <div id="app5">
    <p>{{ message }}</p>
    <button @click="reverseMessage">메시지 뒤집기</button>
  </div>
  <div id="app6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app3 = new Vue({
      el: '#app3',
      data: {
        seen: false
      }
    })
    const app4 = new Vue({
      el: '#app4',
      data: {
        todos: [
          {text: 'JavaScript 배우기'},
          {text: 'Vue 배우기'},
          {text: '무언가 멋진 것을 만들기'},
        ]
      }
    })
    const app5 = new Vue({
      el: '#app5',
      data: {
        message: '안녕하세요! Vue.js!'
      },
      methods: {
        reverseMessage: function(){
          this.message = this.message.split('').reverse().join('')
        }
      }
    })
    const app6 = new Vue({
      el: "#app6",
      data: {
        message: '안녕하세요? Vue.js!'
      }
    })
  </script>
</body>
</html>