h1 {
    color:blue;
}
h2 {
    color:red;
}
.m-2 {
    color:green;
    margin: 2;
}
.ml-2 {
    margin-left: 2;
}
/* h2.mx-10 {
    margin-left: 10 !important;
}
.mx-10 {
    margin-left: 10 !important;
} */

/* .pt-10 {
    padding-top: 10 !important;
} */
