{% extends 'base.html' %}
{% block title %}Corona19{% endblock %}
{% block body %}

<!-- <h1>새 글이 성공적으로 작성되었습니다</h1> -->

<h1>New Article</h1>
<hr>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <!-- 제목: <input type="text" name="title"><br>
  내용: <textarea name="content" id="" cols="30" rows="10"></textarea><br>
  이미지: <input type="file" name="image" accept="image/*"> -->
  <input type="submit" value="제출">
</form>
<hr>
<a href="{% url 'articles:index' %}">목록으로</a>
{% endblock %}