{% extends 'boards/base.html' %}
{% load bootstrap4 %}
{% block title %}DETAIL{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">DETAIL</h1>
            <p class="lead">This is Article</p>
        </div>
    </div>
</div>
<!-- <h1 align=center>DETAIL</h1> -->
<div class="container">
    <h3>No.{{ article.id}}: {{ article.title }}</h3>
    <p>내용: {{ article.content }}</p>
    {% if article.image %}
        <img src="{{ article.image.url }}" alt="{{ article.image }}">
    {% else %}
        <img src="/media/noimages.jpg" alt="no_image">
    {% endif %}
    <p>작성시간: {{ article.created_at }}</p>
    <p>수정시간: {{ article.updated_at }}</p>
    <hr>
    <h4>Comment {% if comments %}/ {{ comments | length }}개의 댓글{% endif %}</h4>
    {% if user.is_authenticated %}
    <form action="{% url 'articles:comment_create' article.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form layout='horizontal' %}
        {% bootstrap_button "입력" button_class='btn btn-dark' %}
        <!-- {{ comment_form }} -->
        <!-- Comment: <input type="text" name="content"> -->
        <!-- <input type="submit" value="입력" class="btn btn-dark"> -->
    </form>
    {% else %}
    <div class='text-center'>
        <a href="{% url 'accounts:login' %}"><button class="btn btn-warning">댓글을 쓰려면 로그인 해주세요</button></a>
    </div>
    {% endif %}
    {% if comments %}
        <br>
        {% for comment in comments %}
            <ul><li>댓글 {{ forloop.revcounter }}: {{ comment.content }} {% if user == comment.user %} - <a href="{% url 'articles:comment_delete' article.id comment.id %}"><button class="btn btn-light">삭제</button></a>{% endif %}</li></ul>
        {% endfor %}
    {% else %}
        <br>
        No comment...ㅠㅠ
    {% endif %}
    <hr>
    {% include 'boards/_profile.html' %}
    <hr>
    <div class='mb-5'>
        <a href="{% url 'articles:index' %}"><button class="btn btn-info">목록</button></a>
        {% if user == article.user %}
        <a href="{% url 'articles:update' article.id %}"><button class="btn btn-info">수정</button></a>
        <form action="{% url 'articles:delete' article.id %}" method="POST" style='display:inline'>
            {% csrf_token %}
            <button class="btn btn-info">삭제</button>
        </form>
        {% endif %}
    </div>
    <!-- <a href="{% url 'articles:delete' article.id %}"><button class="btn btn-info">삭제</button></a> -->
</div>
{% endblock %}