{% extends 'todos/base.html' %}
{% block title %}EDIT{% endblock %}
{% block body %}
<h1 align=center >EDIT</h1>
<form action="{% url 'todos:update' todo.id %}" method="POST">
    {% csrf_token %}
    <div>
        주제: <input type="text" name="title" value="{{ todo.title }}">
    </div>
    <div>
        일정: <input type="date" name="due-date" value="{{ todo.due_date | date:'Y-m-d' }}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
<a href="{% url 'todos:index' %}">[목록 돌아가기]</a>
{% endblock %}