{% extends 'base.html' %}
{% block body %}
<div class="container">
  <h1>Juan's Django Remind</h1>
  <hr>
  <a class="btn btn-primary" href="{% url 'articles:create' %}">새 글</a>
  <hr>
  <ul>
    {% for article in articles %}
    <li>
      <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
      {% include 'articles/_like.html' %}
    </li>
    {% endfor %}
  </ul>
</div>
<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(button => {
    button.addEventListener('click', function(event){
      // console.log(event.target)
      const articleId = event.target.dataset.id
      axios.get(`/articles/${articleId}/like/`)
        .then(response => {
          // console.log(response)
          if (response.data.liked){
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'  
          }
        })
        .catch(error => console.log(error))
    })
  })
</script>
{% endblock %}
</html>