{% extends 'base.html' %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">Juan's Articles</p>
        <hr class="my-4">
        <p>POST IT</p>
        <a class="btn btn-danger btn-lg" href="{% url 'articles:new' %}" role="button">새 글</a>
    </div>
</div>
<div class="container">
  <ul>
    {% for article in articles %}
      <li>
        <a href="{% url 'articles:detail' article.id %}">No.{{ article.id}}: {{ article.title }}</a>
        <p>작성시간: {{ article.created_at }} / 수정시간: {{ article.updated_at }}</p>
        <a href="{% url 'articles:edit' article.id %}"><button class='btn btn-warning'>수정</button></a>
        <a href="{% url 'articles:delete' article.id %}"><button class='btn btn-warning'>삭제</button></a>
        <hr>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}