.gray {
  color: gray;
}
.pick {
  position: relative;
  display: block;
  margin: 10px 200px;
}
.link {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 300px;
  margin: 5px;
}
.card {
  display: block;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0,0,0,.2)
}
.upside {
  position: relative;
  width: 100%;
  height: 50%;
}
#up_img {
  width: 300px;
  height: 200px;
}
.discount {
  position: absolute;
  background-color: orangered;
  right: 0;
  top: 10px;
  width: 180px;
  height: 40px;
  box-sizing: border-box;
  border: ridge 2px aliceblue;
}
.fa-arrow-alt-circle-down {
  display: inline-block;
  margin: 0 0 0 5px;
  color: aliceblue;
}
.discount > p {
  display: inline-block;
  color: aliceblue;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}
.downside {
  position: relative;
  display: block;
  height: 45%;
  margin: 10px;
}
.big_title {
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
}
.score {
  display: inline;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
}
.fa-star {
  display: inline;
  color: khaki;
}
.star_user {
  display: inline;
  font-size: 5px;
}
.learn_user {
  display: block;
  margin: 10px 0;
}
.price {
  display: inline;
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  width: 50%;
}
.price > p {
  margin: 5px 0 0 0;
}
#fa-won-sign {
  display: inline;
  color: royalblue;
  margin: 0;
}
#ago {
  display: inline;
  color: gray;
  margin: 0;
}
.ago_price {
  display: inline;
  font-size: 15px;
  color: gray;
  font-weight: bold;
  text-decoration: line-through;
  margin: 0;
}
.now_price {
  display: inline;
  font-size: 18px;
  color: royalblue;
  font-weight: bold;
  margin: 0;
}
#who {
  display: block;
  font-size: 16px;
  margin: 10px 0;
}
p.title {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  top: 0;
  margin: 10px 12px;
}