{% extends 'base.html' %}
{% block title %} DETAIL {% endblock %}
{% block body %}
<h2 class='text-center'>DETAIL</h2>
<div class='container'>
    <h4>제목: {{ article.title }}</h4> <br>
    내용: {{ article.content }} <br>
    작성: {{ article.created_at }} <br>
    수정: {{ article.updated_at }}
    <div>
        <a href="{% url 'board:index' %}">목록</a>
        <a href="{% url 'board:edit' article.id %}">수정</a>
        <a href="{% url 'board:delete' article.id %}">삭제</a>
    </div>
</div>
{% endblock %}