{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %} Article {% endblock %}
{% block body %}
{% if request.resolver_match.url_name == 'new' %}
<h1 class='text-center'>NEW</h1>
{% else %}
<h1 class='text-center'>EDIT</h1>
{% endif %}
<div class='container'>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% bootstrap_button "등록" button_type='submit' button_class='btn btn-dark' %}
    </form>
</div>
{% endblock %}