{% extends 'movies/base.html' %}
{% block body %}
<h1 class="text-center">Movie Detail</h1>
<hr>
<div class="container">
    <h2 class="text-center">{{ movie.title }}</h2>
    <hr>
    <p>관객수 : {{ movie.audience }}</p><br>
    <p>포스터 : <img src="{{ movie.poster_url }}" alt="poster" width='200px'></p>
    <p>소개 : {{ movie.description }}</p><br>
</div>
<a href="{% url 'movies:index' %}"><button class='btn btn-info' style="display:inline">목록</button></a>
<a href="{% url 'movies:update' movie.pk %}"><button class='btn btn-secondary' style="display:inline">수정</button></a>
<form action="{% url 'movies:delete' movie.pk %}" style="display:inline" method="POST">
    {% csrf_token %}
    <button class='btn btn-danger'>삭제</button>
</form>
<hr>
<form action="{% url 'movies:score_new' movie.pk %}" method="POST">
    {% csrf_token %}
    한줄 평: <input type="text" name="content">
    평점: <input type="number" min="0" max="10" name="score">
    <button class="btn btn-success">입력</button>
</form>
<hr>
<h3>한줄평 | 총 {{ scores|length }}개의 한줄평이 있습니다.</h3><br>
{% for score in scores %}
<ul>
    <li>한줄평: {{ score.content }} / 평점: {{ score.score }}
        <form action="{% url 'movies:score_delete' movie.pk score.pk %}" style="display:inline" method="POST">
            {% csrf_token %}
            <button class='btn btn-warning btn-sm'>삭제</button>
        </form>
    </li>
</ul>
{% empty %}
<p>한줄평이 아직 없습니다. 한줄평을 작성해 주세요.</p>
{% endfor %}
{% endblock %}