<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'community:review_list' %}">Juan's Reviews</a>
  <a class="navbar-brand" href="{% url 'articles:index' %}">Juan's Articles</a>
  <a class="navbar-brand" href="{% url 'eithers:index' %}">Eithers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <a class="nav-link" href="{% url 'community:new_review' %}">New Review</a>
      <a class="nav-link" href="{% url 'articles:create' %}">New Articles</a>
      <a class="nav-link" href="{% url 'eithers:create' %}">New ISSUE</a>
      <a class="nav-link" href="{% url 'eithers:random_issue' %}">Random ISSUE</a>
    </ul>
  </div>
</nav>