<h4 class="mr-4" style="display: inline">FOLLOW</h4>
{% if request.user != user %}
  {% if request.user in user.followers.all %}
    <a class="btn btn-warning mb-2" href="{% url 'accounts:follow' user.username %}">Unfollow</a>
  {% else %}
    <a class="btn btn-warning mb-2" href="{% url 'accounts:follow' user.username %}">Follow</a>
  {% endif %}
{% endif %}
<h5 class="mt-3">팔로잉: {{ user.followings.all|length }}명</h5>
{% for following in user.followings.all %}
  <li>{{ following.username }}</li>
{% endfor %}
<h5>팔로워: {{ user.followers.all|length }}명</h5>
{% for follower in user.followers.all %}
  <li>{{ follower.username }}</li>
{% endfor %}
<hr>
