<h4 class="mr-4" style="display: inline">FOLLOW</h4>
{% if request.user != user %}
  {% if request.user in user.followers.all %}
    <a class="btn btn-warning mb-2" href="{% url 'accounts:follow' user.username %}">Unfollow</a>
  {% else %}
    <a class="btn btn-warning mb-2" href="{% url 'accounts:follow' user.username %}">Follow</a>
  {% endif %}
{% endif %}
<!-- user.followings.all을 caching해서 사용, 데이터를 여러번 불러올 필요 없음 -->
{% with user_following=user.followings.all %}
  <h5 class="mt-3">팔로잉: {{ user_followings|length }}명</h5>
  {% for following in user_followings %}
    <li>{{ following.username }}</li>
  {% endfor %}
{% endwith %}
<!-- user.followers.all을 caching해서 사용, 데이터를 여러번 불러올 필요 없음 -->
{% with user_followers=user.followers.all %}
  <h5>팔로워: {{ user_followers|length }}명</h5>
  {% for follower in user_followers %}
    <li>{{ follower.username }}</li>
  {% endfor %}
{% endwith %}
<hr>
