{% extends 'base.html' %}
{% block content %}
  <h1>회원정보</h1>
  <hr>
  <h2>회원이름: {{ user.username }}</h2>
  {% if user.email %}
  <h3>이메일: {{ user.email }}</h3>
  {% else %}
  <h3>이메일: 이메일 정보가 없습니다.</h3>
  {% endif %}
  <hr>
  <h4>이 회원이 작성한 글 목록</h4>
  {% for article in user.article_set.all %}
    <p>게시글: {{ article.title }}</p>
    <p>좋아요: {{ article.like_users.count }}명</p>
  {% endfor %}
  <hr>
  {% include 'accounts/_follow.html' %}

  {% if request.user == user %}
  <a class="btn btn-warning btn-sm" href="{% url 'accounts:update' user.pk %}">회원정보수정</a>
  <a class="btn btn-warning btn-sm" href="{% url 'accounts:change_password' user.pk %}">비밀번호변경</a>
  <form action="{% url 'accounts:delete' %}" method="POST" style="display: inline">
    {% csrf_token %}
    <button class="btn btn-warning btn-sm">회원탈퇴</button>
  </form>
  {% endif %}
  <br>
  <a class="btn btn-secondary btn-sm mt-2" href="{% url 'accounts:index' %}">뒤로가기</a>
{% endblock %}