{% extends 'board/base.html' %}
{% load static %}
{% block title %}EDIT{% endblock %}
{% block body %}
<h1 class='text-center'>글을 수정합니다</h1>
{% if article.image %}
<img src="{{ article.image.url }}" alt="{{ article.image }}">
{% else %}
<img src="{% static 'noimage.png' %}" alt="no_image">
{% endif %}

<div class='container'>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        제목: <input type="text" name="title" value="{{ article.title }}"><br>
        내용: <textarea name="content" id="" cols="30" rows="10">{{ article.content }}</textarea><br>
        이미지: <input type="file" name="image" accept="image/*"><br>
        <input type="submit">
    </form>
</div>
{% endblock %}