<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Todo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
  .completed {
    text-decoration: line-through;
    opacity: 0.6;
  }
  </style>
</head>
<body>
  <div id="app">
    <div v-bind:style="{color: activeColor, fontSize: fontSize + 'px'}">Juan's Vue Todo List</div>
    <hr>
    <!-- <li v-for="todo in todos" v-if="!todo.completed" v-on:click="check(todo)"> -->
    <li v-for="todo in todos" v-bind:class="{completed: todo.completed}">
      <input type="checkbox" v-model="todo.completed">
      {{ todo.content }}
    </li>
    <!-- <li v-else v-on:click="check(todo)">[완료!]</li> -->
    <div>
      <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
    </div>
    <footer>
      <button v-on:click="clearCompleted">Clear Completed</button>
    </footer>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        activeColor: 'green',
        fontSize: 30,
        todos: [
          {
            content: '빨래 걷기',
            completed: true
          },
          {
            content: '딸기 사기',
            completed: true
          },
          {
            content: '엽떡 먹기',
            completed: true
          },
          {
            content: '저녁 먹기',
            completed: false
          }
        ],
        newTodo: ''
      },
      methods: {
        check: function(todo){
          todo.completed = !todo.completed
        },
        addTodo: function(){
          this.todos.push({
            content: this.newTodo,
            completed: false
          })
          this.newTodo = ''
        },
        clearCompleted: function(){
          const notCompletedTodo = this.todos.filter((todo) => {
            return !todo.completed
          })
          this.todos = notCompletedTodo
        }
      }
    })
  </script>
</body>
</html>