{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  <h1 class="text-center">{{ question.title }}</h1>
  <p class="d-flex justify-content-end font-weight-bold">출제자 : {{ question.user }}</p>
  <hr>
  <div class="d-flex flex-row font-weight-bold">
    <div class="w-50 p-5 mx-1 bg-primary text-white text-center d-flex justify-content-center align-items-center" style="z-index: 0;">
      <div class="d-flex flex-column">
        <span>{{ question.select_A }}</span>
        <span>{{ part_A }}%</span>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <div class="d-flex justify-content-center align-items-center mx-n4 px-3 bg-white rounded-circle" style="height: 50px; z-index: 1;">vs</div>
    </div>
    <div class="w-50 p-5 mx-1 bg-danger text-white text-center d-flex justify-content-center align-items-center" style="z-index: 0;">
      <div class="d-flex flex-column">
        <span>{{ question.select_B }}</span>
        <span>{{ part_B }}%</span>
      </div>
    </div>
  </div>
  <hr>
  <form action="{% url 'eithers:comments' question.pk %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <button class="btn btn-warning btn-sm">CHOICE</button>
  </form>
  <hr>
  <h4>댓글 목록</h4>
  {% for comment in comments %}
    {% if comment.pick %}
    <li class="text-danger font-weight-bold">{{ question.select_B }} - {{ comment.content }}</li>
    {% else %}
    <li class="text-primary font-weight-bold">{{ question.select_A }} - {{ comment.content }}</li>
    {% endif %}
  {% endfor %}
{% endblock content %}