{% extends 'board/base.html' %}
{% block title %} Detail {% endblock %}
{% block body %}
  <h1 align = center >글 상세보기</h1>
  <h2>{{ article.title }}</h2>
  <p>
    {{ article.content }}
    <!-- article.image가 있으면 사진보여주고, 없으면 no_photo.png 보여주기 -->
    {% if article.image %}
      <img src="{{ article.image.url }}" alt="{{ article.image }}">
    {% else %}
      <img src="/media/noimages.jpg" alt="no_image">
    {% endif %}
  </p>
  <div class=container>
    <a href="/board/{{ article.id }}/update/"><button>수정</button></a>
    <a href="/board/{{ article.id }}/delete/"><button>삭제</button></a>
    <hr>
    <h2>댓글 목록</h2>
    <form action="/board/{{ article.id }}/create_comment/">
      <input type="text" name="content">
      <input type="submit">
    </form>
    <hr>
    <!-- {{ comments.count }} -->
    <!-- {% if comments %}
      <p><i>{{ comments | length }}개의 댓글이 있습니다.</i></p>
      {% for comment in comments %}
        <p>{{ comment.content }}</p>
      {% endfor %}
    {% else %}
      <p>아직 댓글이 없습니다.</p>
    {% endif %} -->

    {% for comment in comments %}
      <p>{{ comment.content }}</p>
    {% empty %}
      <p>아직 댓글이 없습니다.ㅠㅠ</p>
    {% endfor %}

    <a href="/board/"><button>목록으로</button></a>
  </div>
  {% endblock %}