{% extends 'base.html' %}
{% block content %}
<table class="table">
  {% for article in articles %}
    {% if forloop.first %}
      <thead>
        <tr>
          <th scope="col">{{ article.0 }}</th>
          <th scope="col">{{ article.1 }}</th>
          <th scope="col">{{ article.2 }}</th>
          <th scope="col">{{ article.3 }}</th>
        </tr>
      </thead>
    {% else %}
      <tbody>
        <tr>
          <th scope="row">{{ forloop.counter0 }}</th>
          <td>{{ article.0 }}</td>
          <td>{{ article.1 }}</td>
          <td>{{ article.2 }}</td>
        </tr>
      </tbody>
    {% endif %}
  {% endfor %}
</table>
{% endblock content %}