<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>제 OOO회 로또 번호 추천</h2>
  <p>SSAFY님께서 선택하신 로또 번호는 {{ numbers }}입니다.</p>

  <form action="/create/" method="">
    <input type="text" name="title">
    <input type="text" name="content">
    <input type="text" class="my-site">
    <input type="submit">
  </form>
</body>
</html>