{% extends 'articles/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">DETAIL</h1>
        <p class="lead">This is your Article's Detail</p>
    </div>
</div>  
<!-- <h1 class='text-center'>DETAIL</h1> -->
<!-- <hr> -->
<div class="container">
    <h3 class='text-center'>No.{{ article.id }} : {{ article.title }}</h3>
    <p>내용: {{ article.content }}</p>
    {% if article.image %}
    <p>이미지: <img src="{{ article.image.url }}" alt="{{ article.image }}"></p>
    {% else %}
    <p>이미지: <img src="{% static 'articles/images/noimage.png' %}" alt="no_image"></p>
    {% endif %}
    <p>작성시간: {{ article.created_at }}</p>
    <p>수정시간: {{ article.updated_at }}</p>
    <hr>
</div>
<form action="{% url 'articles:comment_create' article.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form }}
    <!-- 댓글 입력: <input type="text" name='content'> -->
    <input type="submit" value="입력">
</form>
<hr>
<h3>댓글 목록 | 현재 댓글수: {{ comments|length }}</h3><br>
{% for comment in comments %}
<ul>
    <li>
        댓글 {{ forloop.revcounter }}: {{ comment.content }}
        <form action="{% url 'articles:comment_delete' article.id comment.id %}" style="display:inline" onclick="return confirm('R U Sure..??')" method="POST">
            {% csrf_token %}
            <button class="btn btn-warning btn-sm">삭제</button>
        </form>
    </li>
</ul>
{% empty %}
<p>댓글이 아직 없습니다..</p>
{% endfor %}
<hr>
<div class="container">
    <!-- <a href="#"><button class='btn btn-danger'>삭제</button></a> -->
    <form action="{% url 'articles:delete' article.id %}" method='POST' style='display:inline'>
        {% csrf_token %}
        <button class='btn btn-danger'>삭제</button>
    </form>
    <a href="{% url 'articles:update' article.id %}" style='display:inline'><button class='btn btn-warning'>수정</button></a>
    <a href="{% url 'articles:index' %}" style='display:inline'><button class='btn btn-success'>목록</button></a>
</div>
{% endblock %}