{% extends 'articles/base.html' %}
{% load static %}
{% block body %}
<h1 class='text-center'>DETAIL</h1>
<hr>
<div class="container">
    <h3 class='text-center'>No.{{ article.id }} : {{ article.title }}</h3>
    <p>내용: {{ article.content }}</p>
    {% if article.image %}
    <p>이미지: <img src="{{ article.image.url }}" alt="{{ article.image }}"></p>
    {% else %}
    <p>이미지: <img src="{% static 'articles/images/noimage.png' %}" alt="no_image"></p>
    {% endif %}
    <p>작성시간: {{ article.created_at }}</p>
    <p>수정시간: {{ article.updated_at }}</p>
</div>
<!-- <a href="#"><button class='btn btn-danger'>삭제</button></a> -->
<form action="{% url 'articles:delete' article.id %}" method='POST' style='display:inline'>
    {% csrf_token %}
    <button class='btn btn-danger'>삭제</button>
</form>
<a href="{% url 'articles:update' article.id %}" style='display:inline'><button class='btn btn-warning'>수정</button></a>
<a href="{% url 'articles:index' %}" style='display:inline'><button class='btn btn-success'>목록</button></a>
{% endblock %}