{% extends 'articles/base.html' %}
{% load static %}
{% block body %}
{% if request.resolver_match.url_name == 'create' %}
    <h1 class='text-center'>NEW</h1>
{% else %}
    <h1 class='text-center'>EDIT</h1>
{% endif %}
<hr>
<form action="" method="POST" enctype="multipart/form-data" style="display:inline">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- 제목: <input type="text" name='title'><br>
    내용: <textarea name="content" id="" cols="30" rows="10"></textarea><br>
    이미지: <input type="file" name='image' accept="images/*"><br>
    <input type="submit" value="입력"> -->
    <button class="btn btn-info">입력</button>
</form>
{% if request.resolver_match.url_name == 'create' %}
    <a href="{% url 'articles:index' %}" style="display:inline"><button class='btn btn-warning'>목록으로 돌아가기</button></a>
{% else %}
    <a href="{% url 'articles:detail' article.id %}" style="display:inline"><button class='btn btn-warning'>뒤로가기</button></a>
{% endif %}
{% endblock %}