{% extends 'boards/base.html' %}
{% load bootstrap4 %}

{% block title %} EDIT {% endblock %}
{% block body %}
<div class="container">
    <h1 class='text-center'>EDIT</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        {% bootstrap_button "입력" button_type="submit" button_class="btn btn-primary" %}
        <!-- <div>
            제목: <input type="text" name="input_title" value={{article.title}}>
        </div>
        <div>
            내용: <textarea name="input_content" id="" cols="30" rows="10">{{ article.content }}</textarea>
        </div> -->
        <div>
            <!-- <button type="submit">수정</button> -->
            <a href="/boards/{{ article.id }}/" class="btn btn-primary">수정취소</a>
        </div>
    </form>
</div>
{% endblock %}