{% extends 'movies/base.html' %}
{% load bootstrap4 %}
{% block body %}
<h1 class='text-center'>MOVIEs</h1>
{% if user.is_authenticated %}
<a href="{% url 'movies:new' %}"><button class='btn btn-light border-dark'>영화 정보 입력</button></a>
{% else %}
<a href="{% url 'accounts:login' %}"><button class='btn btn-light border-dark'>영화 정보 입력을 위해 로그인 해주세요</button></a>
{% endif %}
<hr>
{% for movie, score in movie_score.items %}
<div class="container">
    <ul>
        <li><b>제목: <a href="{% url 'movies:detail' movie.pk %}">{{ movie }}</a> - 평점: {{ score }}점</b></li>
        <hr>
    </ul>
</div>
{% endfor %}
{% endblock %}