{% extends 'articles/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}
    <h1 class='text-center'>DETAIL</h1>
    <h2>No.{{ article.pk }}</h2>
    <hr>
    <p>제목: {{ article.title }}</p>
    <p>내용: {{ article.content }}</p>
    {% if article.image %}
    <p>이미지: <img src="{{ article.image.url }}" alt="{{ article.image }}" width="200px"></p>
    {% else %}
    <p>이미지: <img src="{% static 'noimage.png' %}" alt="no_image"></p>
    {% endif %}
    <p>작성시간: {{ article.created_at }}</p>
    <p>수정시간: {{ article.updated_at }}</p>
    <hr>
    <form action="{% url 'articles:comment_create' article.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form layout='horizontal' %}
        {% bootstrap_button "등록" button_class='btn btn-primary' %}
        <!-- 댓글 입력: <input type="text" name='content'> -->
        <!-- <input type="submit" value="입력"> -->
    </form>
    <hr>
    <h3>댓글 목록 | 현재 댓글수: {{ comments|length }}</h3><br>
    {% for comment in comments %}
    <ul>
        <li>
            댓글 {{ forloop.revcounter }}: {{ comment.content }}
            <form action="{% url 'articles:comment_delete' article.id comment.id %}" style="display:inline" onclick="return confirm('R U Sure..??')" method="POST">
                {% csrf_token %}
                <button class="btn btn-warning btn-sm">삭제</button>
            </form>
        </li>
    </ul>
    {% empty %}
    <p>댓글이 아직 없습니다..</p>
    {% endfor %}
    <hr>
    <!-- <form action="{% url 'articles:update' article.id %}" style="display:inline">
        <button class="btn btn-primary">수정</button>
    </form> -->
    <a href="{% url 'articles:update' article.id %}" class="btn btn-primary" style="display:inline">수정</a>
    <form action="{% url 'articles:delete' article.id %}" onclick="return confirm('R U SURE..??')" method="POST" style="display:inline">
        {% csrf_token %}
        <!-- <input type="submit" value="삭제"> -->
        <button class="btn btn-danger btn-sm">삭제</button>
    </form>
    <!-- <a href="{% url 'articles:delete' article.id %}" onclick="return confirm('R U SURE..??')">[글 삭제]</a> <br> -->
    <!-- <form action="{% url 'articles:index' %}" style="display:inline">
        <button class="btn btn-info">목록</button>
    </form> -->
    <a href="{% url 'articles:index' %}" class="btn btn-info" style="display:inline">목록</a>
{% endblock %}