{% extends 'articles/base.html' %}
{% load static %}

{% block body %}
    <h1 class='text-center'>BOARD</h1>
    <a href="{% url 'articles:create' %}">[새 글 작성하기]</a>
    <img src="{% static 'logo-hangul.png' %}" alt="ㅎㅍㅎㅋ" width='300px'>
    <hr>
    {% for article in articles %}
        <p>글 번호: {{ article.id }}</p>
        <p>글 제목: {{ article.title }}</p>
        <!-- <p>글 내용: {{ article.content }}</p> -->
        <a href="{% url 'articles:detail' article.id %}">[글 상세보기]</a>
        <hr>
    {% endfor %}
{% endblock %}