{% extends 'articles/base.html' %}
{% load static %}
{% block body %}
<h1 class='text-center'>Detail</h1>
<div class='container'>
    <h3><b>No.{{ article.id }} - {{ article.title }}</b></h3><br>
    <p>내용: {{ article.content }}</p>
    {% if article.image_url %}
    <p>이미지: <img src="{{ article.image_url.url }}" alt="{{ article.image_url }}"></p>
    {% else %}
    <p>이미지: <img src="/media/noimages.jpg" alt="no_image"></p>
    {% endif %}
    <p>작성: {{ article.created_at }}</p>
    <p>수정: {{ article.updated_at }}</p>
    <hr>
    <form action="{% url 'articles:comments_create' article.id %}" method='POST'>
        {% csrf_token %}
        {{ comment_form }}
        <button class='btn btn-warning btn-sm'>입력</button>
        <!-- 댓글 달기: <input type="text" name="content"> -->
        <!-- <input type="submit" value="입력"> -->
    </form>
    <hr>
    <p><b>댓글 목록</b></p>
    {% for comment in comments %}
        <li>{{ comment.content }}
        <form action="{% url 'articles:comments_delete' article.id comment.id %}" method='POST' style='display: inline;'>
            {% csrf_token %}
            <button class='btn btn-danger btn-sm'>댓글 삭제</button>
        </form>
        </li><br>
    {% endfor %}
        <hr>
    <a href="{% url 'articles:index' %}"><button class="btn btn-success btn-lg">목록</button></a>
    {% if article.user == request.user %}
    <a href="{% url 'articles:edit' article.id %}" style="display: inline"><button class="btn btn-success btn-sm">수정</button></a>
    <form action="{% url 'articles:delete' article.id %}" method='POST' style="display: inline">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger btn-sm" value='삭제'>
    </form>
    {% endif %}
</div>
{% endblock %}