{% extends 'articles/base.html' %}
{% block title %}Corona19{% endblock %}
{% load static %}
{% block body %}
<h1 style="display: inline-block">F*cking Corona19</h1>
{% if user.is_authenticated %}
<a class="btn btn-info" href="{% url 'articles:create' %}">새 글</a>
{% else %}
<a class="btn btn-info" href="{% url 'accounts:login' %}">로그인 해주세요</a>
{% endif %}
<img style="display: block" src="{% static 'Octocat.jpg' %}" alt="octocat" width="300px">
<hr>
{% for article in articles %}
<ul>
  <li style="display: inline">No.{{ article.id }}: <a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a> / </li>
  <p style="display: inline">writer: {{ article.user }}</p>
</ul>
{% endfor %}
{% endblock %}