{% extends 'board/base.html' %}
{% block title %} Create {% endblock %}
{% block body %}
<h1 align = center >Create Article</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    제목: <input type="text" name="input_title">
  </div>
  <div>
    내용: <textarea name="input_content" id="" cols="30" rows="10"></textarea>
  </div>
  <input type="file" name="image" accept="image/*">
  <div>
    <button type="submit">등록</button>
    <a href="/board/"><button>작성취소</button></a>
  </div>
</form>
{% endblock %}