{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'articles/style.css' %}">
{% endblock %}
{% block content %}
  <h1>게시글 상세</h1>
  <hr>
  <h3>{{ article.title }}</h3>
  <p>작성자: {{ article.user }}</p>
  <p>내용: {{ article.content }}</p>
  {% if article.image %}
  <p>이미지: <img src="{{ article.image.url }}" alt=""></p>
  <p>썸네일: <img src="{{ article.image_thumbnail.url }}" alt=""></p>
  {% endif %}
  <p>작성: {{ article.created_at|date:"Y년 M d일 D" }} {{ article.created_at|time:"a H:i" }}</p>
  <p>수정: {{ article.updated_at|date:"Y년 M d일 D" }} {{ article.updated_at|time:"a H:i" }}</p>
  <hr>
  <form action="{% url 'articles:comments_create' article.id %}" method="POST">
    {% csrf_token %}
    <!-- 댓글: <input type="text" name="content"> -->
    {{ comment_form.as_p }}
    <button class="btn btn-primary btn-sm">댓글입력</button>
  </form>
  <hr>
  <h4>댓글 목록{% if comments %} - {{ comments|length }}개의 댓글이 있습니다. {% endif %}</h4>
  {% for comment in comments %}
    <ul>
      <li>{{ comment.content }} 
        {% if request.user == comment.user %}
        <form action="{% url 'articles:comments_delete' article.id comment.id %}" method="POST" style="display: inline">
          {% csrf_token %}
          / <button class="btn btn-danger btn-sm">댓글삭제</button>
        </form>
        {% endif %}
      </li>
    </ul>
  {% empty %}
    <p>댓글이 아직없어유ㅠㅠㅠ</p>
  {% endfor %}
  <hr>
  {% if request.user == article.user %}
  <a class="btn btn-warning btn-sm" href="{% url 'articles:update' article.id %}">EDIT</a>
  <form action="{% url 'articles:delete' article.id %}" method="POST" style="display: inline">
    {% csrf_token %}
    <button class="btn btn-warning btn-sm">DELETE</button>
  </form>
  {% endif %}
  <br>
  <!-- <a href="{% url 'articles:delete' article.id %}">DELETE</a><br> -->
  <a class="btn btn-secondary btn-sm mt-2" href="{% url 'articles:index' %}">BACK</a>
{% endblock %}