{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
  {% if request.resolver_match.url_name == 'create' %}
  <h1>글 작성</h1>
  {% else %}
  <h1>글 수정</h1>
  {% endif %}
  <hr>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% bootstrap_button "작성" button_class="btn-primary" %}
  </form>
  <hr>
  {% if request.resolver_match.url_name == 'create' %}
  <a href="{% url 'articles:index' %}">BACK</a>
  {% else %}
  <a href="{% url 'articles:detail' article.pk %}">BACK</a>
  {% endif %}
{% endblock %}