{% extends 'utils/base.html' %}
{% block title %}ART{% endblock %}
{% block body %}
<h1>Asciify</h1>
<p>Input Some Text below</p>

<form action="/utils/output/" method="GET">
    <div>
        <label for="word">text</label>
        <input id="word" name="user-input" type="text" required>
    </div>
    <div>
        <label for="font">font</label>
        <select name="user-font" id="font">
            {% for font in fonts %}
            <option value="{{ font }}">{{ font }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}